@font-face {
    font-family: "Montserrat-Regular";
    src: url("./Montserrat/Montserrat-Regular.eot"); /* IE9 */
    src: url("./Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("./Montserrat/Montserrat-Regular.woff") format("woff"),
    url("./Montserrat/Montserrat-Regular.ttf") format("truetype"),
    url("./Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./Montserrat/Montserrat-Medium.eot"); /* IE9 */
    src: url("./Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("./Montserrat/Montserrat-Medium.woff") format("woff"),
    url("./Montserrat/Montserrat-Medium.ttf") format("truetype"),
    url("./Montserrat/Montserrat-Medium.svg#Montserrat-Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}